<ion-view view-title="Docs & Tools">
    <ion-content class="has-header">
        <div class="bar bar-header">
            <h2 class="title">Food List</h2>
            <div class="buttons">
                <button class="button icon ion-search" ng-click="toggleSearch = !toggleSearch"></button>
            </div>
        </div>
        
        <div class="list item-padding-top">
            <div class="item" ng-class="toggleSearch ? 'showSearch' : 'hideSearch'">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" ng-model="foodFilter" name="foodFilter" placeholder="Search Foods">
                </label>
            </div>
            <div class="item item-divider">
                Green Container
            </div>
            <div class="item" ng-repeat="g in greenFood | filter:foodFilter">
                {{g.food}}<span class="item-note">{{g.prep}}</span>
            </div>
            
            <div class="item item-divider">
                Purple Container
            </div>
            <div class="item" ng-repeat="p in purpleFood | filter:foodFilter">
                {{p.food}}
            </div>
            
        </div>
        
    </ion-content>
</ion-view>

