<ion-tabs class="tabs-stable slide-left-right">
    <ion-tab title="Calorie Table" ui-sref="docs.calorieTable">
        <ion-nav-view name="tab-calorieTable"></ion-nav-view>
    </ion-tab> 
    
    <ion-tab title="Food List" ui-sref="docs.foodList">
        <ion-nav-view name="tab-foodList"></ion-nav-view>
    </ion-tab>   
      
    <ion-tab title="Cheat Sheet" ui-sref="docs.cheatSheet">
        <ion-nav-view name="tab-docCheatSheet"></ion-nav-view>
    </ion-tab>
    
</ion-tabs>