<ion-view view-title="Docs & Tools">
    <ion-content class="has-header">
        <div class="text-center">
            <div class="row">
                <div class="col table-heading"></div>
                <div class="col table-heading" ng-class="{'highlight' : calorieColumn == 1}">1,200 - 1,499 calories</div>
                <div class="col table-heading" ng-class="{'highlight' : calorieColumn == 2}">1,500 - 1,799 calories</div>
                <div class="col table-heading" ng-class="{'highlight' : calorieColumn == 3}">1,800 - 2,099 calories</div>
                <div class="col table-heading" ng-class="{'highlight' : calorieColumn == 4}">2,100 - 2,300 calories</div>
            </div>
            <div class="row">
                <div class="col">GREEN</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">3</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">4</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">5</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">6</div>
            </div>
            <div class="row">
                <div class="col">PURPLE</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">2</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">3</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">3</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">4</div>
            </div>
            <div class="row">
                <div class="col">RED</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">4</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">4</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">5</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">6</div>
            </div>
            <div class="row">
                <div class="col">YELLOW</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">2</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">3</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">4</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">4</div>
            </div>
            <div class="row">
                <div class="col">BLUE</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">1</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">1</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">1</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">1</div>
            </div>
            <div class="row">
                <div class="col">ORANGE</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">1</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">1</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">1</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">1</div>
            </div>
            <div class="row">
                <div class="col">SPOON</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 1}">2</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 2}">4</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 3}">5</div>
                <div class="col" ng-class="{'highlight' : calorieColumn == 4}">6</div>
            </div>
        </div>
        <!--
        <div class="padding">
            <nvd3 options="caloriePieChartOptions" data="caloriePieChartData">
        </div>
        -->
</ion-content>
</ion-view>

