
<ion-view class="mainContent" view-title="twentyOne" can-swipe-back="true" >
    <ion-content class="has-header">
        <div class="contentOverlay" class="text-center">
            <div class="row">
                
            </div>


            <div class="row" style="padding-top:30px;">
                <div class="col text-center">
                    <button class="button button-large button-outline button-light" ui-sref="docs.foodList">
                        <i class="icon ion-pie-graph"></i>
                    </button>
                    <div class="btnDetail">Docs & Tools</div>
                </div>
                
                <div class="col text-center">
                    <button class="button button-large button-outline button-light" ui-sref="tracker.daily">
                        <i class="icon ion-clipboard"></i>
                    </button>
                    <div class="btnDetail">Daily Tracker</div>
                </div>
            </div>

            <div class="row" style="padding-top:30px;">
                <div class="col text-center">
                    <button class="button button-large button-outline button-light" ui-sref="user.profile">
                        <i class="icon ion-android-person"></i>
                    </button>
                    <div class="btnDetail">ADD PROFILE</div>
                </div>
                
                <div class="col text-center">
                    <button class="button button-large button-outline button-light">
                        <i class="icon ion-gear-a"></i>
                    </button>
                    <div class="btnDetail">SHORT DESCRIPTION OF BUTTON</div>
                    
                </div>
            </div>

            <div class="row" style="padding-top:30px;">
                <div class="col text-center">
                    <button class="button button-large button-outline button-light">
                        <i class="icon ion-gear-a"></i>
                    </button>
                    <div class="btnDetail">SHORT DESCRIPTION OF BUTTON</div>
                </div>
                
                <div class="col text-center">
                    <button class="button button-large button-outline button-light">
                        <i class="icon ion-gear-a"></i>
                    </button>
                    <div class="btnDetail">SHORT DESCRIPTION OF BUTTON</div>
                </div>
            </div>
        </div>

        <!--  
        <div class="card" ui-sref="user.chart">
            <div class="item">
                User Details
            </div>
            <div class="item">
                <div class="row row-center">
                    <div class="col icon-home">
                        <i class="icon ion-android-person"></i>
                    </div>
                    <div class="col-75 item-text-wrap">
                        This section contains profile, data, and charting
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- 
        <div class="card" ui-sref="tracker.daily">
            <div class="item">
                Trackers
            </div>
            <div class="item">
                <div class="row row-center">
                    <div class="col icon-home">
                        <i class="icon ion-clipboard"></i>
                    </div>
                    <div class="col-75 item-text-wrap">
                        This section contains daily, and meal
                    </div>
                </div>  
            </div>
        </div>
        -->
        <!-- 
        <div class="card" ui-sref="docs.foodList">
            <div class="item">
                Docs & Tools
            </div>
            <div class="item ">
                <div class="row row-center">
                    <div class="col icon-home">
                        <i class="icon ion-pie-graph"></i>
                    </div>
                    <div class="col-75 item-text-wrap">
                        This section contains various documents and tools
                    </div>
                </div>
            </div>
        </div>
        -->
    </ion-content>
</ion-view>