<ion-view view-title="Trackers">
    <ion-content class="has-header">
        
        <ul class="list text-center" >
            <li class="item">
                Current Date Placeholder
            </list>
            <li class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-outline button-assertive icon ion-minus"></button>       
                    </div>
                    <div class="col col-50">
                        <div class="icon ion-android-checkbox-blank"> Green Container</div>
                        <div>0 out of 5</div>
                    </div>
                    <div class="col">
                        <button class="button button-outline button-balanced icon ion-plus"></button>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-outline button-assertive icon ion-minus"></button>       
                    </div>
                    <div class="col col-50">
                        <div class="icon ion-android-checkbox-blank"> Purple Container</div>
                        <div>0 out of 5</div>
                    </div>
                    <div class="col">
                        <button class="button button-outline button-balanced icon ion-plus"></button>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-outline button-assertive icon ion-minus"></button>       
                    </div>
                    <div class="col col-50">
                        <div class="icon ion-android-checkbox-blank"> Yellow Container</div>
                        <div>0 out of 5</div>
                    </div>
                    <div class="col">
                        <button class="button button-outline button-balanced icon ion-plus"></button>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-outline button-assertive icon ion-minus"></button>       
                    </div>
                    <div class="col col-50">
                        <div class="icon ion-android-checkbox-blank"> Red Container</div>
                        <div>0 out of 5</div>
                    </div>
                    <div class="col">
                        <button class="button button-outline button-balanced icon ion-plus"></button>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-outline button-assertive icon ion-minus"></button>       
                    </div>
                    <div class="col col-50">
                        <div class="icon ion-android-checkbox-blank"> Blue Container</div>
                        <div>0 out of 5</div>
                    </div>
                    <div class="col">
                        <button class="button button-outline button-balanced icon ion-plus"></button>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-outline button-assertive icon ion-minus"></button>       
                    </div>
                    <div class="col col-50">
                        <div class="icon ion-android-checkbox-blank"> Orange Container</div>
                        <div>0 out of 5</div>
                    </div>
                    <div class="col">
                        <button class="button button-outline button-balanced icon ion-plus"></button>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
    
</ion-view>